h1 {
  display: flex;
  justify-content: center;
}

.backdrop {
  display: flex;
  background: #00000088;
  height: 500px;
  width: 300px;
  margin-left: auto;
  margin-right: 0;
  color: white;
  justify-content: center;
  position: absolute;
  right: 0;
  margin-top: 30px;
}
.backdrop::before {
  color: white;
  content: "Cart: ";
  height: 500px;
  width: 300px;
  display: flex;
  justify-content: center;
}

.modal {
  cursor: initial;
  display: flex;
}

.showCart {
  position: absolute;
  right: 0;
}
